/* Default styles for all screen sizes */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url('images/background.jpg');
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding: 50px;
  max-width: 500px;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: 700;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

#result {
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  color: #333;
}

/* Media query for screens smaller than 768px */

@media (max-width: 767px) {
  .container {
    padding: 30px;
    max-width: 100%;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  #result {
    font-size: 20px;
  }
}

/* Media query for screens between 768px and 1023px */

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 40px;
    max-width: 100%;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  input {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }

  #result {
    font-size: 22px;
  }
}

/* Media query for screens larger than 1023px */

@media (min-width: 1024px) {
  .container {
    padding: 50px;
    max-width: 800px;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 35px;
  }

  input {
    font-size: 18px;
  }

  button {
    font-size: 18px;
  }

  #result {
    font-size: 28px;
  }
}